div.SelectOfLiao
{
    height: 25px;
    overflow: visible;
}

div.SelectOfLiao *
{
    padding: 0px;
    margin: 0px;
}

div.SelectOfLiao div.SelectOfLiaoHeader
{
    white-space: nowrap;
    background-color: #999999;
    margin-bottom: 2px;
    height: 25px;
    float: left;
    clear: both;
    overflow: hidden;
}

div.SelectOfLiao div.SelectOfLiaoPager
{
    white-space: nowrap;
    background-color: #999999;
    position: absolute;
    height: 25px;
    display: none;
    float: left;
    overflow: hidden;
}

div.SelectOfLiao ul.SelectOfLiaoContent
{
    height: auto;
    display: none;
    float: left;
    clear: both;
    list-style-type: none;
}

div.SelectOfLiao div.SelectOfLiaoHeader span.SelectOfLiaoHeaderText
{
    font-family: 微软雅黑;
    font-size: small;
    line-height: 25px;
    text-indent: 5px;
    white-space: nowrap;
    height: 25px;
    float: left;
    overflow: hidden;
}

div.SelectOfLiao div.SelectOfLiaoHeader div.SelectOfLiaoHeaderToggle
{
    background-image: url('../../image/selectdown.png');
    background-repeat: no-repeat;
    background-position: -4px -4px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #808080;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
    transition: background-color 1s;
}

div.SelectOfLiao div.SelectOfLiaoHeader div.SelectOfLiaoHeaderToggle:hover
{
    background-color: #808080;
}

div.SelectOfLiao div.SelectOfLiaoPager div.SelectOfLiaoPagerBack
{
    background-image: url('../../image/selectback.png');
    background-repeat: no-repeat;
    background-position: -4px -4px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    float: left;
    cursor: pointer;
    transition: background-color 1s, transform 1s;
}

div.SelectOfLiao div.SelectOfLiaoPager div.SelectOfLiaoPagerBack:hover
{
    background-color: #808080;
    transform: translate(-3px, 0px);
}

div.SelectOfLiao div.SelectOfLiaoPager div.SelectOfLiaoPagerRefresh
{
    background-image: url('../../image/selectrefresh.png');
    background-repeat: no-repeat;
    background-position: -4px -4px;
    margin-right: 3px;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
    border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    transition: background-color 1s, transform 1s;
}

div.SelectOfLiao div.SelectOfLiaoPager div.SelectOfLiaoPagerRefresh:hover
{
    background-color: #808080;
    transform: rotate(720deg);
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem
{
    margin-bottom: 2px;
    height: 25px;
    display: none;
    float: left;
    clear: both;
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper
{
    position: absolute;
    height: 25px;
    float: left;
    overflow: visible;
    z-index: 600;
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper div.SelectOfLiaoContentItemWrapperBlock
{
    white-space: nowrap;
    background-color: #999999;
    position: absolute;
    height: 25px;
    top: 0px;
    opacity: 0;
    display: none;
    float: left;
    cursor: pointer;
    overflow: hidden;
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper 
div.SelectOfLiaoContentItemWrapperBlock:hover
{
    background-color: #808080;
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper div.SelectOfLiaoContentItemWrapperBlock 
i.SelectOfLiaoContentItemWrapperBlockIcon
{
    background-image: url('../../image/selectitem.png');
    background-repeat: no-repeat;
    background-position: -4px -4px;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 1px;
    transition: transform .5s;
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper 
div.SelectOfLiaoContentItemWrapperBlock:hover i.SelectOfLiaoContentItemWrapperBlockIcon
{
    transform: rotateY(180deg);
}

div.SelectOfLiao ul.SelectOfLiaoContent li.SelectOfLiaoContentItem div.SelectOfLiaoContentItemWrapper div.SelectOfLiaoContentItemWrapperBlock 
span.SelectOfLiaoContentItemWrapperBlockText
{
    font-family: 微软雅黑;
    font-size: small;
    line-height: 25px;
    text-indent: 2px;
    white-space: nowrap;
    height: 25px;
    float: left;
    overflow: hidden;
}